<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}

  <meta name="author" content="{{ site.author.name }}">
  <!-- Enable responsive viewport -->
  <meta name="viewport" content="width=1280">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- Le styles -->
  <link href="{{ ASSET_PATH }}/theme.css" rel="stylesheet" media="all">
  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- atom & rss feed -->
  <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
  <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
</head>
<body>
  <div id="tabs" class="system">
    <h1 class="system">{{ page.title }}.html</h1>
  </div>
  <div id="main">
    <div id="content">
      {{ content }}
    </div>
    <div id="line-number">
    </div>
  </div>
  <div id="minimap">
    <div id="minimap-content"></div>
    <div id="minimap-handler"></div>
    <div id="minimap-mask"></div>
  </div>
  <div id="side-bar" class="system">
    <h3 class="side-bar-title system">RECENT ARTICLES</h3>
    <ul class="side-bar-group">
  {% for node in site.posts limit:5 %}  
    {% if page.url == node.url %}
      <li class="side-bar-1 side-bar-file active"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}.html</a></li>
      {% else %}
      <li class="side-bar-1 side-bar-file"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}.html</a></li>
    {% endif %}
  {% endfor %}
      <li class="side-bar-1 side-bar-file {% if page.url == HOME_PATH or page.url == '/index.html'%}active{% endif %}"><a href="{{ HOME_PATH }}">Home.html</a></li>
    </ul>
    <h3 class="side-bar-title system">ARCHIVE</h3>
    <ul class="side-bar-group">
  {% assign posts_collate = site.posts %}
  {% capture page_year %}{{ page.date | date: "%Y" }}{% endcapture %}
  {% capture page_month %}{{ page.date | date: "%B" }}{% endcapture %}
  {% for post in posts_collate  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}
  
    {% if forloop.first %}
      <li><span class="side-bar-1 side-bar-folder {% if page_year == this_year and page_month == this_month %}active{% endif %}">{{this_year}} - {{this_month}}</span>
        <ul class="side-bar-group" {% if page_year != this_year or page_month != this_month %}style="display:none;"{% endif %}>
    {% endif %}
    {% if page.url == post.url %}
          <li class="side-bar-2 side-bar-file active"><a href="{{ BASE_PATH }}{{post.url}}">{{post.title}}.html</a></li>
    {% else %}
          <li class="side-bar-2 side-bar-file"><a href="{{ BASE_PATH }}{{post.url}}">{{post.title}}.html</a></li>
    {% endif %}
  
    {% if forloop.last %}
        </ul>
      </li>
    {% else %}
      {% if this_year != next_year %}
        </ul>
      </li>
      <li><span class="side-bar-1 side-bar-folder {% if page_year == next_year and page_month == next_month %}active{% endif %}">{{next_year}} - {{next_month}}</span>
        <ul class="side-bar-group" {% if page_year != next_year or page_month != next_month %}style="display:none;"{% endif %}>
      {% else %}    
        {% if this_month != next_month %}
        </ul>
      </li>
      <li><span class="side-bar-1 side-bar-folder {% if page_year == next_year and page_month == next_month %}active{% endif %}">{{next_year}} - {{next_month}}</span>
        <ul class="side-bar-group" {% if page_year != next_year or page_month != next_month %}style="display:none;"{% endif %}>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
    </ul>
  </div>
  <div id="status-bar" class="system">
    &copy; {{ site.time | date: '%Y' }} {{ site.author.name }} with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="{{ ASSET_PATH }}/main.js"></script>
  {% include JB/analytics %}
</body>
</html>

