.article-header{
  .page-header;
  overflow: hidden;
  time{
    float: right;
    color: @text-muted;
    font-size: @font-size-small;
  }
}
.article-content{
  > p > img{
    .img-responsive();
  }
}
.article-comments{
  margin-top: (@line-height-computed * 4);
}
.article-next{
  > .article-header{
    margin-top: 0;
    border-bottom: none;
    > a{
      display: block;
      &:hover{
        text-decoration: none;
      }
    }
  }
  margin-top: (@line-height-computed * 4);
  border-top: 1px solid @gray-lighter;
  &::before{
    content: "next";
    text-transform: uppercase;
    font-size: @font-size-small;
    font-weight: thin;
    color: @gray-light;
    margin-top: 5px;
    display: block;
  }
}
.article-tags{
  font-size: @font-size-small;
  line-height: @line-height-computed;
  .list-inline;
  margin-bottom: 0;
  .badge{
    font-size: @font-size-small * 0.6;
    vertical-align: top;
  }
  a{
    opacity: 0.3;
    .transition(opacity .15s);
    &:hover{
      opacity: 1;
      text-decoration: none;
    }
  }
}
.article-list{
  .list-unstyled();
  .article-header{
    margin-top: @line-height-computed;
    > a{
      display: block;
      color: @text-color;
      &:hover{
        color: @brand-primary;
        text-decoration: none;
      }
    }
  }
  .timeline &{
    margin-left: 75px;
    .article-header{
      padding-bottom: 0;
      h4{
        margin-bottom:@line-height-computed / 2;
      }
    }
  }
}

.timeline{
  .timeline-label{
    clear: left;
    float: left;
    margin-left: -50px;
    width: 100px;
    text-align: center;
    background-color: white;
    h4{
      color: @gray;
    }
    h5{
      color: @gray-light;
    }
  }
  margin-left: 50px;
  border-left:1px solid @gray-lighter;
}