#inline-comments{
  > .inline-comment{
    padding-left: @padding * 3;
    width: @padding * 2;
    position: absolute;
    overflow: visible;
    > iframe{
      border: none;
      margin-top: -10px;
      width: @sidebar-width - @padding * 3;
    }
    > .count{
      position: absolute;
      min-width: @line-height-computed;
      text-align: center;
      height: @line-height-computed;
      top:0;
      left: @padding;
      border-radius: 2px;
      padding: 0 6px;
      line-height: @line-height-computed;
      font-size: @font-size-small;
      pointer-events:none;
      opacity: 0;
      .transition(opacity .15s);
      &::before{
        content: ' ';
        position: absolute;
        left: 6px;
        bottom: -6px;
        .square(0);
        border-style: solid;
        border-width: 8px 8px 0 0;
      }
      &:empty{
        pointer-events:none;
        opacity: 0;
      }
      &:not(:empty){
        pointer-events:auto;
        opacity: 1;
      }
      &:empty::after{
        content: '+';
      }
    }
    &.hover,
    &:hover{
      > .count{
        visibility: visible;
        pointer-events:auto;
        opacity: 1;
        &:hover{
          text-decoration: none;
        }
      }
    }
    &.active{
      z-index: 4;
      width: 100%;
      > iframe{
        // display: block;
      }
      > .count{
        visibility: visible;
        opacity: 1;
      }
    }
  }
}