#menu-sidebar{
  padding: 15px 20px;
}
.menu{
  .list-unstyled;
  > li > a{
    display: block;
    font-size: @font-size-base;
    line-height: 40px;
    > i{
      width: @font-size-large;
      font-size: @font-size-large;
      margin-right: 10px;
      display: inline-block;
      text-align: center;
      vertical-align: text-bottom;
    }
  }
}