.article-header{
  @extend .page-header;
  overflow: hidden;
  time{
    font-weight: 200;
    float: right;
    color: $text-muted;
    font-size: $font-size-small;
    line-height: $line-height-computed;
  }
}
.article-content{
  > p > img{
    @include img-responsive;
    margin: 0 auto;
  }
}
.article-comments{
  margin-top: ($line-height-computed * 4);
}
.article-next{
  > .article-header{
    margin-top: 0;
    border-bottom: none;
    > a{
      display: block;
      &:hover{
        text-decoration: none;
      }
    }
  }
  margin-top: ($line-height-computed * 4);
  border-top: 1px solid $gray-lighter;
  &::before{
    content: "next";
    text-transform: uppercase;
    font-size: $font-size-small;
    font-weight: thin;
    color: $gray-light;
    margin-top: 5px;
    display: block;
  }
}
.article-tags{
  font-size: $font-size-small * 0.8;
  font-weight: 200;
  line-height: $line-height-computed;
  @extend .list-inline;
  margin-bottom: 0;
  .badge{
    font-weight: 200;
    color: $gray-light;
    font-size: $font-size-small * 0.6;
    vertical-align: text-bottom;
    background-color: transparent;
    border:1px solid $gray-lighter;
  }
  a{
    color: $gray-light;
    @include transition(color .15s);
    &:hover{
      color: $brand-primary;
      text-decoration: none;
      .badge{
        color: $gray;
        background-color: white;
      }
    }
  }
}
.article-list{
  @include list-unstyled();
  .article-header{
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
    border-bottom: none;
    h3{
      margin-top: $line-height-computed / 2;
      margin-bottom: $line-height-computed / 2;
    }
    > a{
      display: block;
      color: $text-color;
      &:hover{
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
}

.timeline{
  $size:80px;
  .article-list{
    margin-left: $size*0.75;
    .article-header{
      h4{
        margin-bottom:$line-height-computed / 2;
      }
    }
  }
  .timeline-label{
    clear: left;
    float: left;
    margin-left: -$size/2;
    width: $size;
    text-align: center;
    background-color: $body-bg;
    h4{
      color: $gray;
    }
    h5{
      color: $gray-light;
    }
  }
  margin-left: $size/2;
  border-left:1px solid $gray-lighter;
}