#main{
  background-color: $body-bg;
}

#menu-sidebar{
  background-color: $gray-dark;
  a {
    color: $gray-light;
    &:hover{
      color: $gray-lighter;
      text-decoration: none;
    }
  }
}

#btn-open-menu{
  color: $gray-dark;
  &:hover,
  &:active{
    color: $brand-primary;
  }
}

a{
  .domready &{
    @include transition(color .15s);
  }
}