<article role="main">
  <header class="article-header">
    <h1>{{ page.title }}{% if page.tagline %}<br><small>{{page.tagline}}</small>{% endif %}</h1>
    <time pubdate>{{ page.date | date_to_long_string }}</time>
    {% unless page.tags == empty %}
    <ul role="contentinfo" class="article-tags">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
    {% endunless %}
  </header>
  <div class="article-content">
    {{ content }}
  </div>
  <footer class="article-comments">
    <ul class="share-buttons"></ul>
    {% include JB/comments %}
  </footer>
</article>
{% if page.previous %}
<nav class="article-next">
  <header class="article-header">
    <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">
      <h3>{{ page.previous.title }}{% if page.previous.tagline %}<small>{{page.previous.tagline}}</small>{% endif %}</h3>
    </a>
    <time pubdate>{{ page.previous.date | date_to_long_string }}</time>
    {% unless page.previous.tags == empty %}
    <ul role="contentinfo" class="article-tags">
      {% assign tags_list = page.previous.tags %}
      {% include JB/tags_list %}
    </ul>
    {% endunless %}
  </header>
</nav>
{% endif %}